@using System.Text.Json
@model ListViewModel
@{
    int counter = (Model.PagingInfo.Page - 1) * Model.PagingInfo.ItemsPerPage + 1;
    IEnumerable<Stock> stocks = JsonSerializer.Deserialize<IEnumerable<Stock>>(Model.JsonItems);
}
    <tr>
        <th>#</th>
        <th>Produto</th>
        <th>Proprietário</th>
        <th>Saldo</th>
    </tr>
@foreach (var s in stocks)
{
    <tr>
        <td>@(counter++)</td>
        <td>@s.Product.Name</td>
        <td>@s.Owner.Name</td>
        <td>@s.Balance</td>
    </tr>
}