@model Enhancement
@{
    ViewData["Title"] = "Gerar Processamento";
}

<h2>Novo Processamento</h2>

<form method="post" asp-action="Create">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text">Estoque Base</label>
    </div>
    <select asp-for="BaseStockID" asp-items="ViewBag.BaseStocksID" class="custom-select form-control">
        <option value="">Selecione o produto base</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text">Estoque Final</label>
    </div>
    <select asp-for="FinalStockID" asp-items="ViewBag.FinalStocksID" class="custom-select form-control">
        <option value="">Selecione o produto final</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text">Motorista</label>
    </div>
    <select asp-for="DriverID" asp-items="ViewBag.DriversID" class="custom-select form-control">
        <option value="">Selecione o motorista</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text">Veículo</label>
    </div>
    <select asp-for="VehicleID" asp-items="ViewBag.VehiclesID" class="custom-select form-control">
        <option value="">Selecione o veículo</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text" asp-for="GrossWeight"></label>
    </div>
    <input type="number" class="form-control" asp-for="GrossWeight">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text" asp-for="Comment"></label>
    </div>
    <input type="text" class="form-control" asp-for="Comment">
  </div>

  <a asp-action="" class="btn btn-info">Voltar</a>
  <button type="submit" class="btn btn-success">Gerar</button>
</form>