<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.css">
</head>
<body>
<div class="bg-success text-white p-2">
    <span class="navbar-brand ml-2">GERENCIADOR DE ESTOQUE</span>
</div>
<div class="row m-1 p-1">
    <div class="col-3" id="menu-categories">
        <ul>
            <li>Admin</li>
            <li>Criar</li>
            <li>
                Listar
                <ul>
                    <li><a href="/clients">Clients</a></li>
                    <li><a href="/drivers">Motoristas</a></li>
                    <li><a href="/enhancements">Processamentos</a></li>
                    <li><a href="/incomings">Entradas</a></li>
                    <li><a href="/products">Produtos</a></li>
                    <li><a href="/shippings">Saídas</a></li>
                    <li><a href="/stocks">Estoques</a></li>
                    <li><a href="/vehicles">Veículos</a></li>
                </ul>
            </li>
        </ul>
    </div>
<div class="col-9">
    @RenderBody()
</div>
</div>
</body>
</html>