@model PagingInfo

    <div page-model="Model" page-action='@ViewData["Action"]' page-classes-enabled="true"
            page-class="btn" page-class-normal="btn-outline-success"
            page-class-selected="btn-success" class="btn-group pull-right m-1">
    </div>