@model ListViewModel
@{
    string partialViewAddress = $"/Views/{ViewData["Controller"]}/_List{ViewData["Controller"]}.cshtml";
}
        <h2 class="border border-dark rounded bg-secondary text-white text-center">
            Lista de @ViewData["Entity"]
        </h2>
@if (Model.PagingInfo.TotalItems == 0)
{
        <div>
            <p class="bg-dark bg-gradient text-white text-center">
                Nenhum item encontrado.
            </p>
        </div>
}
else
{
        <table class="table table-bordered table-striped table-sm">
            <partial name="@partialViewAddress" view-data="ViewData" />
        </table>
        <partial name="_PagingButtons" for="@Model.PagingInfo" view-data="ViewData" />
}
