@using System.Text.Json
@model ListViewModel
@{
    int counter = (Model.PagingInfo.Page - 1) * Model.PagingInfo.ItemsPerPage + 1;
    IEnumerable<Driver> drivers = JsonSerializer.Deserialize<IEnumerable<Driver>>(Model.JsonItems);
}
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>CNH</th>
    </tr>
@foreach (var d in drivers)
{
    <tr>
        <td>@(counter++)</td>
        <td>@d.Name</td>
        <td>@d.CNH</td>
    </tr>
}