@model Driver
@{
    ViewData["Title"] = "Detalhes do Motorista";
}

<h2>Editar Motorista</h2>

@if (Model == null)
{
<h4 class="alert alert-danger">Registro não encontrado.</h4>
}
else
{
<form method="post" asp-action="Edit">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text" asp-for="Name"></label>
    </div>
    <input type="text" class="form-control" asp-for="Name">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text" asp-for="CNH"></label>
    </div>
    <input type="text" class="form-control" asp-for="CNH">
  </div>

  <a asp-action="" class="btn btn-info">Voltar</a>
  <button type="submit" asp-route-id="@Model.ID" class="btn btn-success">Salvar</button>
</form>
}