@model Vehicle
@{
    ViewData["Title"] = "Detalhes do Veículo";
}

<h2>Editar Veículo</h2>

@if (Model == null)
{
<h4 class="alert alert-danger">Registro não encontrado.</h4>
}
else
{
<form method="post" asp-action="Delete">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text" asp-for="Plate1"></label>
    </div>
    <input type="text" class="form-control" asp-for="Plate1" disabled>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text" asp-for="Plate2"></label>
    </div>
    <input type="text" class="form-control" asp-for="Plate2" disabled>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text" asp-for="Plate3"></label>
    </div>
    <input type="text" class="form-control" asp-for="Plate3" disabled>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text" asp-for="RNTRC"></label>
    </div>
    <input type="text" class="form-control" asp-for="RNTRC" disabled>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text" asp-for="Tare"></label>
    </div>
    <input type="number" class="form-control" asp-for="Tare" disabled>
  </div>

  <div class="alert alert-danger text-center">
    <h4 class="alert-heading">DESEJA REMOVER ESTE REGISTRO?</h4>
    <p>Esta ação não poderá ser desfeita!</p>
  </div>

  <a asp-action="" class="btn btn-info">Voltar</a>
  <button type="submit" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">REMOVER!</button>
</form>
}