@model Vehicle
@{
    ViewData["Title"] = "Detalhes do Veículo";
}

<h2>Veículo</h2>

@if (Model == null)
{
<h4 class="alert alert-danger">Registro não encontrado.</h4>
}
else
{
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="bg-dark text-white input-group-text" asp-for="Plate1"></label>
  </div>
  <input type="text" class="form-control" asp-for="Plate1" disabled>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="bg-dark text-white input-group-text" asp-for="Plate2"></label>
  </div>
  <input type="text" class="form-control" asp-for="Plate2" disabled>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="bg-dark text-white input-group-text" asp-for="Plate3"></label>
  </div>
  <input type="text" class="form-control" asp-for="Plate3" disabled>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="bg-dark text-white input-group-text" asp-for="RNTRC"></label>
  </div>
  <input type="text" class="form-control" asp-for="RNTRC" disabled>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="bg-dark text-white input-group-text" asp-for="Tare"></label>
  </div>
  <input type="number" class="form-control" asp-for="Tare" disabled>
</div>

<a asp-action="" class="btn btn-info">Voltar</a>
<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-success">Editar</a>
<a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Remover</a>
}