@model Incoming
@{
    ViewData["Title"] = "Criar Entrada";
}

<h2>Nova Entrada</h2>

<form method="post" asp-action="Incoming">
    <div class="form-group">
        <label asp-for="ClientID"></label>
        <input type="text" class="form-control" asp-for="ClientID">
    </div>
    <div class="form-group">
        <label asp-for="StockID"></label>
        <input type="text" class="form-control" asp-for="StockID">
    </div>
    <div class="form-group">
        <label asp-for="VehicleID"></label>
        <input type="text" class="form-control" asp-for="VehicleID">
    </div>
    <div class="form-group">
        <label asp-for="DriverID"></label>
        <input type="text" class="form-control" asp-for="DriverID">
    </div>
    <div class="form-group">
        <label asp-for="GrossWeight"></label>
        <input type="number" class="form-control" asp-for="GrossWeight">
    </div>
    <div class="form-group">
        <label asp-for="Comment"></label>
        <input type="text" class="form-control" asp-for="Comment">
    </div>
    <div>
        <button type="submit">Criar</button>
    </div>
</form>