@model Product
@{
    ViewData["Title"] = "Criar Produto";
}

<h2>Novo Produto</h2>

<form method="post" asp-action="Product">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input type="text" class="form-control" asp-for="Description">
    </div>
    <div>
        <button type="submit">Criar</button>
    </div>
</form>