@{
    int counter = (int)ViewData["StartCounter"] + 1;
}
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
@foreach (var p in ViewData["Items"] as IEnumerable<Product>)
{
        <tr>
            <td>@(counter++)</td>
            <td>@p.Name</td>
            <td>@p.Description</td>
        </tr>
}