@model IQueryable<Driver>
@{
    ViewData["Title"] = "Lista de Motoristas";
    int counter = ((int)ViewData["page"] - 1) * (int)ViewData["listSize"];
}

    <h2>Lista de Motoristas</h2>
@if (Model.Count() == 0)
{
    <p>Nenhum item encontrado.</p>
}
else
{
    <table>
        <tr>
            <th>Nº</th>
            <th>Nome</th>
            <th>CNH</th>
        </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@(++counter)</td>
            <td>@s.Name</td>
            <td>@s.CNH</td>
        </tr>
    }
    </table>
}