@using System.Text.Json
@model ListViewModel
@{
    int counter = (Model.PagingInfo.Page - 1) * Model.PagingInfo.ItemsPerPage + 1;
    IEnumerable<Product> products = JsonSerializer.Deserialize<IEnumerable<Product>>(Model.JsonItems);
}
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Descrição</th>
    </tr>
@foreach (var p in products)
{
    <tr>
        <td>@(counter++)</td>
        <td>@p.Name</td>
        <td>@p.Description</td>
    </tr>
}