@model Product
@{
    ViewData["Title"] = "Remover Produto";
}

<h2>Remover Produto</h2>

@if (Model == null)
{
<h4 class="alert alert-danger">Registro não encontrado.</h4>
}
else
{
<form method="post" asp-action="Delete">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text" asp-for="Name"></label>
    </div>
    <input type="text" class="form-control" asp-for="Name" disabled>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="bg-dark text-white input-group-text" asp-for="Description"></label>
    </div>
    <input type="text" class="form-control" asp-for="Description" disabled>
  </div>

  <div class="alert alert-danger text-center">
    <h4 class="alert-heading">DESEJA REMOVER ESTE REGISTRO?</h4>
    <p>Esta ação não poderá ser desfeita!</p>
  </div>

  <a asp-action="" class="btn btn-info">Voltar</a>
  <button type="submit" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">REMOVER!</button>
</form>
}